@import '../../assets/styles/variables';
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $color-white;
  border-radius: 5px;
  background-color: $color-gray;
}

li {
  float: left;
  span {
    display: block;
    color: $color-dark;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  & span:hover {
    background-color: $color-gray;
    cursor: pointer;
  }
}

.selectedPage .selectedPage {
  background-color: $color-blue;
  & span > span:hover {
    color: $color-white;
    cursor: pointer;
  }
}
