@import "../../assets/styles/variables";
@import '../../assets/styles/base';

.container {
  @include container;
}
.box{
  display: flex;
  width: 45rem;
  margin: auto;
  align-content: space-between;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn {
  width: 100%;
  gap: 13rem;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
}

