@import "../../assets/styles/variables";
.container {
  width: 50%;
  background-color: $color-fade-gray;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 20px;
}
.box{
  display: flex;
  width: 45rem;
  margin: auto;
  align-content: space-between;
  justify-content: space-between;
}
